snippet f!
	function (${1}) {${2}};
snippet :f!
	${1:method_name}: function (${2:attribute}) {
		${4}
	}${3:,}
snippet con
	console.log(${1});
snippet parseInt
	parseInt(${1}, 10)
snippet aaa
	// arrange
	${0}

	// act

	// assert
