[submodule "pathogen"]
	path = pathogen
	url = https://github.com/tpope/vim-pathogen.git
[submodule "bundle/fugitive"]
	path = bundle/fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "bundle/AutoClose"]
	path = bundle/AutoClose
	url = https://github.com/vim-scripts/AutoClose.git
[submodule "bundle/molokai"]
	path = bundle/molokai
	url = https://github.com/vim-scripts/molokai.git
[submodule "bundle/tabular"]
	path = bundle/tabular
	url = https://github.com/godlygeek/tabular
[submodule "bundle/supertab"]
	path = bundle/supertab
	url = https://github.com/ervandew/supertab.git
[submodule "bundle/project.tar.gz"]
	path = bundle/project.tar.gz
	url = https://github.com/vim-scripts/project.tar.gz.git
[submodule "bundle/netrw.vim"]
	path = bundle/netrw.vim
	url = https://github.com/vim-scripts/netrw.vim
[submodule "bundle/nginx.vim"]
	path = bundle/nginx.vim
	url = https://github.com/vim-scripts/nginx.vim.git
[submodule "bundle/surround.vim"]
	path = bundle/surround.vim
	url = https://github.com/vim-scripts/surround.vim.git
[submodule "bundle/httplog"]
	path = bundle/httplog
	url = https://github.com/vim-scripts/httplog.git
[submodule "bundle/pyrepl"]
	path = bundle/pyrepl
	url = https://github.com/Bogdanp/pyrepl.vim
