[submodule "pathogen"]
	path = pathogen
	url = https://github.com/tpope/vim-pathogen.git
[submodule "bundle/fugitive"]
	path = bundle/fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "bundle/AutoClose"]
	path = bundle/AutoClose
	url = https://github.com/vim-scripts/AutoClose.git
[submodule "bundle/tabular"]
	path = bundle/tabular
	url = https://github.com/godlygeek/tabular
[submodule "bundle/supertab"]
	path = bundle/supertab
	url = https://github.com/ervandew/supertab.git
[submodule "bundle/project.tar.gz"]
	path = bundle/project.tar.gz
	url = https://github.com/vim-scripts/project.tar.gz.git
[submodule "bundle/netrw.vim"]
	path = bundle/netrw.vim
	url = https://github.com/vim-scripts/netrw.vim
[submodule "bundle/nginx.vim"]
	path = bundle/nginx.vim
	url = https://github.com/vim-scripts/nginx.vim.git
[submodule "bundle/surround.vim"]
	path = bundle/surround.vim
	url = https://github.com/vim-scripts/surround.vim.git
[submodule "bundle/httplog"]
	path = bundle/httplog
	url = https://github.com/vim-scripts/httplog.git
[submodule "bundle/pyrepl"]
	path = bundle/pyrepl
	url = https://github.com/Bogdanp/pyrepl.vim
[submodule "bundle/ack.vim"]
	path = bundle/ack.vim
	url = https://github.com/mileszs/ack.vim.git
[submodule "bundle/tcomment"]
	path = bundle/tcomment
	url = https://github.com/tsaleh/vim-tcomment
[submodule "bundle/css-color"]
	path = bundle/css-color
	url = https://github.com/skammer/vim-css-color
[submodule "bundle/molokai"]
	path = bundle/molokai
	url = https://github.com/afternoon/molokai
[submodule "bundle/trailing-whitespace"]
	path = bundle/trailing-whitespace
	url = https://github.com/bronson/vim-trailing-whitespace
[submodule "bundle/gundo.vim"]
	path = bundle/gundo.vim
	url = http://github.com/sjl/gundo.vim.git
[submodule "bundle/snipmate"]
	path = bundle/snipmate
	url = https://github.com/msanders/snipmate.vim
[submodule "bundle/matchit.zip"]
	path = bundle/matchit.zip
	url = https://github.com/vim-scripts/matchit.zip.git
[submodule "bundle/html-textobjects"]
	path = bundle/html-textobjects
	url = https://github.com/mjbrownie/html-textobjects.git
[submodule "bundle/textobj"]
	path = bundle/textobj
	url = https://github.com/kana/vim-textobj-user
[submodule "bundle/Puppet-Syntax-Highlighting"]
	path = bundle/Puppet-Syntax-Highlighting
	url = https://github.com/vim-scripts/Puppet-Syntax-Highlighting.git
[submodule "bundle/command-t"]
	path = bundle/command-t
	url = git://git.wincent.com/command-t.git
[submodule "bundle/xmledit"]
	path = bundle/xmledit
	url = https://github.com/vim-scripts/xmledit.git
[submodule "bundle/Markdown-syntax"]
	path = bundle/Markdown-syntax
	url = https://github.com/vim-scripts/Markdown-syntax.git
[submodule "bundle/phpunit"]
	path = bundle/phpunit
	url = git@github.com:afternoon/vim-phpunit.git
[submodule "bundle/ref"]
	path = bundle/ref
	url = https://github.com/thinca/vim-ref
[submodule "bundle/vimproc"]
	path = bundle/vimproc
	url = https://github.com/Shougo/vimproc
